---
- name: Ensure HashiCorp tap is present
  community.general.homebrew_tap:
    name: hashicorp/tap
    state: present
  when: ansible_facts['os_family'] == 'Darwin'

- name: Install Terraform (Homebrew tap)
  community.general.homebrew:
    name: hashicorp/tap/terraform
    state: latest
    update_homebrew: true
  when: ansible_facts['os_family'] == 'Darwin'

- name: Ensure terraform on PATH
  ansible.builtin.shell: |
    test -x "$(which terraform)"
  register: terraform_path_check
  changed_when: false
  failed_when: false
