name: Deploy to AWS

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AWS_REGION: eu-west-3
  TF_WORKING_DIR: ./terraform/envs/dev

jobs:
  deploy:
    name: Deploy Infrastructure and App
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
          terraform_wrapper: false

      - name: Setup Python (for Ansible)
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible boto3 botocore

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Generate Deployment SSH Key
        run: |
          ssh-keygen -t rsa -b 4096 -f ~/.ssh/id_rsa -N ""
          chmod 400 ~/.ssh/id_rsa

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          terraform apply -auto-approve -no-color -var="public_key_path=$HOME/.ssh/id_rsa.pub" -var="aws_profile="
          terraform output -no-color -json > tf_outputs.json
          echo "::group::Debug tf_outputs.json"
          cat tf_outputs.json
          echo "::endgroup::"

      - name: Generate Inventory
        run: |
          python3 ansible/scripts/generate_inventory.py \
            --tf-output ${{ env.TF_WORKING_DIR }}/tf_outputs.json \
            --inventory ansible/inventories/dev/hosts.ini \
            --ssh-key ~/.ssh/id_rsa

        
      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: |
           ansible-playbook -i ansible/inventories/dev/hosts.ini ansible/playbook.yml
